@media(min-width:500px) {
    body {
        background-color: red;
    }
}

@media(min-width:800px) {
    body {
        background-color: green;
    }
}

@media(min-width:1000px) {
    body {
        background-color: blue;
    }
}

@media(min-width:375px) {
    body {
        background-color: violet;
    }
}